<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This project builds a Core Data application with a Spotlight importer that uses Cocoa's NSDocument architecture.</string>
	<key>FilesToMacroExpand</key>
	<array>
		<string>GameMan_Prefix.pch</string>
		<string>Info.plist</string>
		<string>English.lproj/InfoPlist.strings</string>
		<string>English.lproj/MainMenu.xib</string>
		<string>MyDocument.h</string>
		<string>MyDocument.m</string>
		<string>main.m</string>
		<string>Importer/main.c</string>
		<string>Importer/GetMetadataForFile.c</string>
		<string>Importer/Importer-Info.plist</string>
	</array>
	<key>FilesToRename</key>
	<dict>
		<key>GameMan_Prefix.pch</key>
		<string>GameMan_Prefix.pch</string>
	</dict>
</dict>
</plist>
